.p {
	margin: 0;

	color: var(--black);

	font-family: var(--font-family);
}

.medium {
	font-size: 16px;
	line-height: 24px;
}

.small {
	font-size: 14px;
	line-height: 24px;
}

.large {
	font-size: 18px;
	line-height: 29px;
}
